<h4>Please Fill Out This Form To Signup</h4>
<form class="" action="/signup" method="post">
  <input type="text" name="username" placeholder="Username:"><br>
  <input type="text" name="name" placeholder="Name:"><br>
  <input type="password" name="password" placeholder="Password:"><br>
  <button type="submit" value="Sign Up">Sign Up</button>
</form>
