<h6>Add a car to your collection</h6>
<form action="/cars" method="post">
  <input type="text" name="year" placeholder="Year:"><br>
  <input type="text" name="make" placeholder="Make:"><br>
  <input type="text" name="model" placeholder="Model:"><br>
  Description:<br>
  <textarea name="description" rows="8" cols="80"></textarea><br>
  <button type="submit" name="">Add Car</button>
</form>
