<!doctype html>
<html>
  <head>
    <title>Car Collection</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Your Car Collection</h1>
      <h2>The Best Way To Keep Track Of Your Cars</h2>

      <%= yield %>
    </div>

  </body>
</html>
